.greetings
  p.hi Salut !
  p.
    Un jour j&#39;ai essayé la programmation et depuis je suis accro.
  p.
    Je m&#39;intéresse beaucoup aux technologies Web,
    et je cherche un post (sur Paris) de junior dev plutôt côté front-end.
  p.
    Ah ! Aussi, je m&#39;appelle Marc.