.personnalInfoLine
  p
    strong Marc Monchablon
    | &nbsp;
    a(href="mailto:marcmonchablon@live.fr") marcmonchablon@live.fr
    | &nbsp;
    a(href="http://github.com/MarcMonchablon")
      i.fa.fa-github-square
    | &nbsp;
    a(href="http://fr.linkedin.com/pub/marc-monchablon/8a/93a/455")
        i.fa.fa-linkedin-square