doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title="HimynameisMarc.com | CV de Marc Monchablon"
    link(rel="stylesheet", href="ressources/vendor/bootstrap/css/bootstrap.css")
    link(rel="stylesheet", href="ressources/vendor/fontAwesome/css/font-awesome.css")
    link(rel="stylesheet", href="ressources/materials/Korpo_Sans_Family_Webfonts/stylesheet.css")
    link(href='http://fonts.googleapis.com/css?family=Permanent+Marker', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="css/main.css")

  body
    .container.mainContainer

      include ./includes/header.jade

      section
        h2
          i.fa.fa-heart
          | &nbsp;
          | Présentation
        include ./includes/motivation.jade
        
      section
        h2
          span.fa-stack
            i.fa.fa-smile-o.fa-stack-1x
            i.fa.fa-file-o.fa-stack-2x
          | &nbsp;
          | CV
        .row
          .col-md-10.col-md-offset-1
            include ./includes/cv.jade
        
    script(src="js/vendor/jquery/jquery.js")
  
      

