doctype html
html(lang="en", ng-app="soocial")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title="pupWeb"
    link(rel="stylesheet", href="ressources/vendor/bootstrap/css/bootstrap.css")
    link(rel="stylesheet", href="ressources/vendor/fontAwesome/css/font-awesome.css")
    link(rel="stylesheet", href="ressources/materials/Korpo_Sans_Family_Webfonts/stylesheet.css")
    link(rel="stylesheet", href="css/main.css")

  body
    h1 pupWeb

    #mainContainer

      h2.resume CV

      h3 Web développeur junior
  
      h4 Expérience

      table
        tr
          td Septembre 2014 - Mars 2014
          td.
            Stage de fin d&#39;étude au service Web de Voltalis (La Défense) <br/>
            Développement et maintenance de services web <br/>
            Java (tomcat / struts), Javascript (jQuery, Angular.js, node.js) et mySQL 
        tr
          td Février 2014 - Octobre 2013
          td.
             Projet en collaboration avec l&#39;école supérieure d&#39;Art et Design de Saint-Etienne <br/>
             Conseil et vulgarisation autour de L&#39;intelligence artificielle
  
        tr
          td Janvier 2014 - Octobre 2013
          td.
            Projet de fin d&#39;étude: Reconnaissance automatique sur visage du genre <br/>
            C++, OpenCV, Weka

        tr
          td Aout 2013 - Mars 2013
          td.
            Stage au laboratoire Hubert Curien (Saint-Etienne) <br/>
            Prototypage d&#39;algorithmes en Imagerie, implémentation contrainte temps réel <br/>
            Matlab, C++ (Qt, SDL)

        tr
          td Février 2010
          td.
            Stage ouvrier à le Brun S.A.S (Pont-L&#39;abbé) <br/>
            Aide à l&#39;installation électrique
  
      h4 Compétences
  
      h5 Languages
      p.
        Confortable en Javascript, C++, Java, Matlab, XHTML/CSS (+ Twitter Bootstrap)
        Débutant en SQL, Python, Lisp
  
      h5 Imagerie
      p.
        Analyse et synthèse d&#39;image, reconnaissance et tracking d&#39;objects, reconstitution 3D
  
      h5 Environnement logiciel
      p.
        Système UNIX, Emacs, Git, IntelliJ, Eclipse, Visual Studio 2010, Wordpress, Photoshop
  
      h5 Anglais
      p.
        parlé/lu courant, écrit maîtrisé, possession du TOEIC (970 points)
  
      h4 Formation

      table
        tr
          td 2014 - 2010
          td.
            Diplôme d&#39;ingénieur (Télécom Saint-Etienne) <br/>
            Spécialité Informatique et Imagerie

        tr
          td 2012
          td.
            Semestre à University of East Finland (Joensuu) <br/>
            Mobilité à l&#39;international

        tr
          td 2010 - 2007
          td.
            Classes préparatoires au lycée Brizeux (Quimper) <br/>
            Spécialité Physique/Chimie

        tr
          td 2007
          td.
            Baccalauréat Scientifique
  
      h4 Divers
  
      p A fait des affiches pour une association loi 1901
  
      p.
        A fait divers travaux sur Wordpress dans un cadre personnel
        (Modification de thème et création de thème-enfant, mise en place de sites sous Wordpress, aide à la création de maquette)
  
      p Lecture: Informatique, Science cognitives, sciences sociales, art, design
  
      p Sport: Cardio, Musculation
         
      
        
        
        
      
      
        
        
        
        
        
      
  
  
          
    script(src="vendor/jquery/jquery.js")
  
      
