doctype html
html(lang="en", ng-app="soocial")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title="pupWeb"
    link(rel="stylesheet", href="ressources/vendor/bootstrap/css/bootstrap.css")
    link(rel="stylesheet", href="ressources/vendor/fontAwesome/css/font-awesome.css")
    link(rel="stylesheet", href="ressources/materials/Korpo_Sans_Family_Webfonts/stylesheet.css")
    link(rel="stylesheet", href="css/main.css")

  body
    .container.mainContainer
    
      header
        include ./includes/header.jade
        
      section
        h2.presentation Presentation
        p Salut c&#39;est Marc !
        
      section
        h2.resume CV
        include ./includes/cv.jade
        
      section   
        h2 Me contacter
        include ./includes/contact.jade     
          
    script(src="js/vendor/jquery/jquery.js")
  
      

