h3
  i.fa.fa-building
  | &nbsp;
  | Expérience
include ./cv/experience.jade

h3
  i.fa.fa-code
  | &nbsp;
  | Compétences
include ./cv/competences.jade

h3
  i.fa.fa-graduation-cap
  | &nbsp;
  | Formation
include ./cv/formation.jade

h3
  i.fa.fa-coffee
  | &nbsp;
  | Divers
include ./cv/misc.jade
        
