header.row
  .col-md-4
    img(src="ressources/img/profil_head.png", title="Photo de profil")         
  .col-md-8
    p.
     Salut ! Un jour j&#39;ai essayé la programmation et depuis je suis accro.
     Je m&#39;intéresse particulièrement aux technologies Web, et je cherche un post de junior dev plutôt côté front-end
     Ah ! Aussi, je m&#39;appelle Marc.
     
     


