header
  .row
    .col-xs-12.col-sm-8.col-sm-push-4
      .row
        .col-xs-12.col-sm-11.col-sm-offset-1.col-md-12.col-md-offset-0
          include ./header/greetings.jade
    .col-xs-12.col-sm-4.col-sm-pull-8
      .row
        .col-xs-12.visible-xs-block
          include ./header/horizontalLine.jade
        .col-xs-5.visible-xs-block
          include ./header/personnalInfo.jade
        .col-xs-7.col-sm-12.col-md-10
          include ./header/headPicture.jade
        .hidden-xs.hidden-sm.col-md-2
          include ./header/verticalLine.jade
  .hidden-xs
    include ./header/personnalInfoLine.jade
        

      

      
      

     
     


