header
  .row
    .col-xs-12
      include ./header/greetings.jade
    .col-xs-12
      include ./header/horizontalLine.jade
    .col-xs-5
      include ./header/personnalInfo.jade
    .col-xs-7
      include ./header/headPicture.jade
      
      

     
     


