p.
  J&#39;
  J&#39;ai un background assez varié, allant des maths au 

h3 Ma vision métier
p.
  Je crois que ce qui résume le mieux ma vision métier, c&#39;est que la programmation est ce qui se rapproche le plus de la magie.
  <br/>
  Pourquoi ?
  <br/>Parce que le magicien peut créer juste en assemblant des incantations.
  <br/>
  Parce qu&#39;il ne maitrise jamais complètement son art, et a toujours plus à apprendre
  <br/>
  Et surtout, parce que cela met l&#39;accens sur le fait d&#39;offrir quelque chose de concret. Quelquechose de pratique ou de simplemlent amusant. Quelquechose qui émerveille ou quelquechose qui se fait oublier.

p.
  Je crois que ce qui résume le mieux ma vision métier, c&#39;est que la programmation est avant tout de la magie.
  Non seulement parce que au fond on crée des choses en assmebla

ul
  li parce que le magicien peut créer juste en assemblant des incantations
  li parce qu&#39;il ne maîtrise jamais complètement son art, et a toujours plus à apprendre
  li et surtout, parce que cela met l&#39;accent sur didlediddel

h3 Ma vision métier
p.
  Ce qui résume le mieux ma vision de la programmation, c&#39;est que c&#39;est essentiellement de la magie.
  Parce que le magicien peut créer juste en assemblant des incantations
  Parce qu&#39;il ne maitrise jamais complètement son art, et a toujours plus à apprendre,
  Parce que cette approche 
  et surtout, parce que cela met l&#39;accent non pas sur l&#39;exercice en lui-même, mais son résultat.
  
h3 Ce que je cherche
ul
  li Une entreprise qui préfère une petite équipe mixte taillée pour chaque projet plutôt qu&#39;une logique silo
  li Une entreprise qui pense que l&#39;on peut (voir même l&#39;on doit) allier professionnalisme et fun au travail
  li et qui en retour attend des passionnés qui veulent avant tout faciliter la vie des autres
  
h3 Ce que j&#39;ai a offrir
ul
  li Quelqu&#39;un qui allie une passion pour la technique avec une forte sensibilité aux problématiques de communication et de design
  li Quelqu&#39;un de sympa qui a la conviction qu&#39;un cadre productif est un avant tout environnement agréable a vivre
  li Quelqu&#39;un qui n&#39;a pas peur de lire et de s&#39;exprimer en Anglais, voir même qui aime ça !  
