p Je suis passionné par le développement parce que ça réunit deux aspects complémentaires :
ul
  li
    | On produit quelquechose de concret, pratique, beau ou simplement fun à utiliser; Cela donne un réel sens à ce que l&#39;on fait
    br
    i.fa.fa-level-up.fa-rotate-90
    | &nbsp;
    | Cela nécessite aussi de savoir écouter ses utilisateurs
  li
    | Se répéter apporte peu de valeur, chaque tâche apporte donc son lot de challenge.
    br
    i.fa.fa-level-up.fa-rotate-90
    | &nbsp;
    | Répondre à ces défis tout en s&#39;assurant que le projet marche à long terme demande donc une attention impossible sans passion
  
h3 Ce que je cherche
ul
  li Une entreprise qui préfère une petite équipe mixte taillée pour chaque projet plutôt qu&#39;une logique silo
  li Une entreprise qui pense que l&#39;on peut (voir même l&#39;on doit) allier professionnalisme et fun au travail
  li et qui en retour attend des passionnés qui veulent avant tout faciliter la vie des autres
  
h3 Ce que j&#39;ai a offrir
ul
  li Quelqu&#39;un qui allie une passion pour la technique avec une forte sensibilité aux problématiques de communication et de design
  li Quelqu&#39;un de sympa qui a la conviction qu&#39;un cadre productif est un avant tout environnement agréable a vivre
  li Quelqu&#39;un qui n&#39;a pas peur de lire et de s&#39;exprimer en Anglais, voir même qui aime ça !  
