_mainContainerBackgroundColor = #141414
_mainContainerSectionSeparatorColor = #753D27

_uiPanelSectionBackgroundColor_onHover = #1B1B1B
_uiPanelSectionBackgroundColor_active = #1B1B1B
_fontColor = #B6A49C


body
  background-image url('../ressources/materials/footer_lodyas.png')
  color _fontColor
  font-family korpo_sansregular

.mainContainer
  margin auto
  background-color _mainContainerBackgroundColor

section
  border-top 3px solid _mainContainerSectionSeparatorColor
  &:first-child
    border-top none
  
  

