body {
  background-image: url("../ressources/materials/footer_lodyas.png");
  color: #b6a49c;
  font-family: korpo_sansregular;
}
header {
  height: 30em;
  background-image: url("../ressources/materials/congruent_pentagon.png");
}
header img {
  height: 30em;
}
.mainContainer {
  margin: auto;
  background-color: #141414;
}
section {
  border-top: 3px solid #753d27;
}
section:first-child {
  border-top: none;
}
span.fa-stack {
  font-size: 0.5em;
}
.skills {
  padding: 20px;
  margin-bottom: 30px;
}
.skills.computerLanguage {
  background-color: rgba(200,34,56,0.3);
  border: 3px solid rgba(200,34,56,0.4);
}
.skills.computerVision {
  background-color: rgba(255,252,25,0.3);
  border: 3px solid rgba(255,252,25,0.4);
}
.skills.software {
  background-color: rgba(9,37,178,0.3);
  border: 3px solid rgba(9,37,178,0.4);
}
.skills.languages {
  background-color: rgba(121,255,13,0.3);
  border: 3px solid rgba(121,255,13,0.4);
}
