_mainBgColor = #141414
_mainColor = #753D27

_fontColor = #B6A49C


body
  background-image url('../ressources/materials/footer_lodyas.png')
  color _fontColor
  font-family korpo_sansregular

_desktopHeaderHeight = 30em  
header
  margin-top 1em
  position relative
  @media (min-width: 768px)
    height _desktopHeaderHeight
  background-image url('../ressources/materials/congruent_pentagon.png')
  img
    @media (min-width: 768px)
      height _desktopHeaderHeight
    @media (max-width: 768px)
      width 100%
  .greetings
    padding-left 1em
    padding-right 1em
    p
      font-size 1.7em
      color black
      font-family 'Permanent Marker', cursive
      &.hi
        font-size 2em
        margin-left 0.7em
   .personnalInfo
     padding-left 0.2em
     margin-top 80%
     color black
     font-size 100%
     h3
       font-weight bold
       font-size 2em
     a
       color black
     i
       font-size 3em
       margin-right 0.2em
   .personnalInfoLine
     position absolute
     bottom 0
     right 1em
     height 2em
     font-size 1.2em
     strong
       color black
       font-weight bold
       font-size 1.2em
       margin-right 1.5em
     a
       color black
     
h3
  i
    opacity 0.65

table
  h4
    font-size inherit
    margin 0
    font-weight bold
  p
    margin 0
    font-style italic
  aside
    opacity 0.8
    font-variant small-caps
  
.mainContainer
  margin auto
  margin-top 0.3em
  margin-bottom 0.4em
  background-color _mainBgColor

section
  border-top 7px solid _mainColor
  h2
    width 10em
    margin-top 0
    padding 0.3em
    background _mainColor

span.fa-stack
  font-size 0.5em
  

_skillsHeight = 15em
_skillsBgOpacity = 0.3
_skillsBorderOpacity = 0.4

_computerLanguageColor = #C82238
_computerVisionColor = #FFFC19
_softwareColor = #0925B2
_languagesColor = #79FF0D




.skills
  position relative
  overflow hidden
  height _skillsHeight
  padding 20px
  padding-top 10px
  margin-bottom 30px
  li
    list-style-type circle
  h4
    margin-bottom 1em
  h5
    margin-top 0
  .halfBlock
    float left
    width 50%
  &.computerLanguage
    background-color rgba(_computerLanguageColor, _skillsBgOpacity)
    border 3px solid rgba(_computerLanguageColor, _skillsBorderOpacity)
  &.computerVision
    background-color rgba(_computerVisionColor, _skillsBgOpacity)
    border 3px solid rgba(_computerVisionColor, _skillsBorderOpacity)
  &.software
    background-color rgba(_softwareColor, _skillsBgOpacity)
    border 3px solid rgba(_softwareColor, _skillsBorderOpacity)
  &.languages
    background-color rgba(_languagesColor, _skillsBgOpacity)
    border 3px solid rgba(_languagesColor, _skillsBorderOpacity)            
  i.backgroundIcon
    font-size 13em
    opacity 0.1
    position absolute
    right -0.1em
    bottom -0.2em

_miscSkillsbackgroundColor = #9CB6B1
        
.miscSkills
  background-color rgba(_miscSkillsbackgroundColor, 0.1)
  border 3px solid rgba(_miscSkillsbackgroundColor, 0.2)