body {
  background-image: url("../ressources/materials/footer_lodyas.png");
  color: #b6a49c;
  font-family: korpo_sansregular;
}
.mainContainer {
  margin: auto;
  background-color: #141414;
}
section {
  border-top: 3px solid #753d27;
}
section:first-child {
  border-top: none;
}
