_mainContainerBackgroundColor = #141414
_mainContainerSectionSeparatorColor = #753D27

_uiPanelSectionBackgroundColor_onHover = #1B1B1B
_uiPanelSectionBackgroundColor_active = #1B1B1B
_fontColor = #B6A49C


body
  background-image url('../ressources/materials/footer_lodyas.png')
  color _fontColor
  font-family korpo_sansregular

.mainContainer
  margin auto
  background-color _mainContainerBackgroundColor

section
  border-top 3px solid _mainContainerSectionSeparatorColor
  &:first-child
    border-top none

span.fa-stack
  font-size 0.5em
  

_skillsBgOpacity = 0.3
_skillsBorderOpacity = 0.4

_computerLanguageColor = #C82238
_computerVisionColor = #FFFC19
_softwareColor = #0925B2
_languagesColor = #79FF0D




.skills
  padding 20px
  margin-bottom 30px
  &.computerLanguage
    background-color rgba(_computerLanguageColor, _skillsBgOpacity)
    border 3px solid rgba(_computerLanguageColor, _skillsBorderOpacity)
  &.computerVision
    background-color rgba(_computerVisionColor, _skillsBgOpacity)
    border 3px solid rgba(_computerVisionColor, _skillsBorderOpacity)
  &.software
    background-color rgba(_softwareColor, _skillsBgOpacity)
    border 3px solid rgba(_softwareColor, _skillsBorderOpacity)
  &.languages
    background-color rgba(_languagesColor, _skillsBgOpacity)
    border 3px solid rgba(_languagesColor, _skillsBorderOpacity)            

    
    