body {
  background-image: url("../ressources/materials/footer_lodyas.png");
  color: #b6a49c;
  font-family: korpo_sansregular;
}
header {
  margin-top: 1em;
  position: relative;
  background-image: url("../ressources/materials/congruent_pentagon.png");
}
@media (min-width: 768px) {
  header {
    height: 30em;
  }
}
@media (min-width: 768px) {
  header img {
    height: 30em;
  }
}
@media (max-width: 768px) {
  header img {
    width: 100%;
  }
}
header .greetings {
  padding-left: 1em;
  padding-right: 1em;
}
header .greetings p {
  font-size: 1.7em;
  color: #000;
  font-family: 'Permanent Marker', cursive;
}
header .greetings p.hi {
  font-size: 2em;
  margin-left: 0.7em;
}
header .personnalInfo {
  padding-left: 0.2em;
  margin-top: 80%;
  color: #000;
  font-size: 100%;
}
header .personnalInfo h3 {
  font-weight: bold;
  font-size: 2em;
}
header .personnalInfo a {
  color: #000;
}
header .personnalInfo i {
  font-size: 3em;
  margin-right: 0.2em;
}
header .personnalInfoLine {
  position: absolute;
  bottom: 0;
  right: 1em;
  height: 2em;
  font-size: 1.2em;
}
header .personnalInfoLine strong {
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 1.5em;
}
header .personnalInfoLine a {
  color: #000;
}
.mainContainer {
  margin: auto;
  margin-top: 0.3em;
  margin-bottom: 0.4em;
  background-color: #141414;
}
section {
  border-top: 7px solid #753d27;
}
section h2 {
  width: 10em;
  margin-top: 0;
  padding: 0.3em;
  background: #753d27;
}
span.fa-stack {
  font-size: 0.5em;
}
.skills {
  position: relative;
  overflow: hidden;
  height: 15em;
  padding: 20px;
  margin-bottom: 30px;
}
.skills.computerLanguage {
  background-color: rgba(200,34,56,0.3);
  border: 3px solid rgba(200,34,56,0.4);
}
.skills.computerVision {
  background-color: rgba(255,252,25,0.3);
  border: 3px solid rgba(255,252,25,0.4);
}
.skills.software {
  background-color: rgba(9,37,178,0.3);
  border: 3px solid rgba(9,37,178,0.4);
}
.skills.languages {
  background-color: rgba(121,255,13,0.3);
  border: 3px solid rgba(121,255,13,0.4);
}
.skills i.backgroundIcon {
  font-size: 13em;
  opacity: 0.1;
  position: absolute;
  right: -0.1em;
  bottom: -0.2em;
}
.miscSkills {
  background-color: rgba(156,182,177,0.1);
  border: 3px solid rgba(156,182,177,0.2);
}
