.row

  .col-md-6
    .skills.computerLanguage
      i.backgroundIcon.fa.fa-code
      h4
        i.fa.fa-code
        | &nbsp;
        | Languages
      .halfBlock
        h5 Confortable en :
        ul
          li Javascript
          li C++
          li Java
          li Matlab
          li XHTML/CSS
      .halfBlock
        h5 Débutant en :
        ul
          li SQL
          li Python
          li Lisp

  .col-md-6
    .skills.computerVision
      i.backgroundIcon.fa.fa-image
      h4
        i.fa.fa-image
        | &nbsp;
        | Imagerie
      ul
        li Analyse et synthèse d&#39;images
        li Reconnaissance et tracking d&#39;objets
        li Reconstitution 3D

  .col-md-6
     .skills.software
       i.backgroundIcon.fa.fa-terminal
       h4
         i.fa.fa-terminal
         | &nbsp;
         | Environnement logiciel
       .halfBlock
         ul
           li Système UNIX
           li Emacs
           li Git
       .halfBlock
         ul
           li IntelliJ
           li Eclipse
           li Visual Studio 2010

  .col-md-6
    .skills.languages
      i.backgroundIcon.fa.fa-comments-o
      h4
        i.fa.fa-comments-o
        | &nbsp;
        | Anglais
      ul
        li Parlé/lu courant
        li Écrit maîtrisé
        li Possession du TOEIC (970 points)

      
