.row

  .col-md-6
    .skills.computerLanguage
      i.backgroundIcon.fa.fa-code
      h4
        i.fa.fa-code
        | &nbsp;
        | Languages
      p.
        Confortable en Javascript, C++, Java, Matlab, XHTML/CSS (+ Twitter Bootstrap)
        Débutant en SQL, Python, Lisp

  .col-md-6
    .skills.computerVision
      i.backgroundIcon.fa.fa-image
      h4
        i.fa.fa-image
        | &nbsp;
        | Imagerie
      p.  
        Analyse et synthèse d&#39;image, reconnaissance et tracking d&#39;objects, reconstitution 3D


  .col-md-6
     .skills.software
       i.backgroundIcon.fa.fa-terminal
       h4
         i.fa.fa-terminal
         | &nbsp;
         | Environnement logiciel
       p.
         Système UNIX, Emacs, Git, IntelliJ, Eclipse, Visual Studio 2010, Wordpress, Photoshop


  .col-md-6
    .skills.languages
      i.backgroundIcon.fa.fa-comments-o
      h4
        i.fa.fa-comments-o
        | &nbsp;
        | Anglais
      p.
        parlé/lu courant, écrit maîtrisé, possession du TOEIC (970 points)
