.row

  .col-md-6
    h4
      i.fa.fa-heart
      | &nbsp;
      | Languages
    p.
      Confortable en Javascript, C++, Java, Matlab, XHTML/CSS (+ Twitter Bootstrap)
      Débutant en SQL, Python, Lisp

  .col-md-6
    h4
      i.fa.fa-heart
      | &nbsp;
      | Imagerie
    p.  
      Analyse et synthèse d&#39;image, reconnaissance et tracking d&#39;objects, reconstitution 3D


  .col-md-6
    h4
      i.fa.fa-heart
      | &nbsp;
      | Environnement logiciel
    p.
      Système UNIX, Emacs, Git, IntelliJ, Eclipse, Visual Studio 2010, Wordpress, Photoshop


  .col-md-6
    h4
      i.fa.fa-heart
      | &nbsp;
      | Anglais
    p.
      parlé/lu courant, écrit maîtrisé, possession du TOEIC (970 points)
