h4 Languages
p.
  Confortable en Javascript, C++, Java, Matlab, XHTML/CSS (+ Twitter Bootstrap)
  Débutant en SQL, Python, Lisp

h4 Imagerie
p.
  Analyse et synthèse d&#39;image, reconnaissance et tracking d&#39;objects, reconstitution 3D

h4 Environnement logiciel
p.
  Système UNIX, Emacs, Git, IntelliJ, Eclipse, Visual Studio 2010, Wordpress, Photoshop

h4 Anglais
p.
  parlé/lu courant, écrit maîtrisé, possession du TOEIC (970 points)
