table.table
  tr
    td Septembre 2014 - Mars 2014
    td
      h4 Stage de fin d&#39;étude au service Web de Voltalis (La Défense)
      p Développement et maintenance de services web
      aside Java (tomcat / struts), Javascript (jQuery, Angular.js, node.js) et mySQL
  tr
    td Février 2014 - Octobre 2013
    td
      h4 Projet en collaboration avec l&#39;école supérieure d&#39;Art et Design de Saint-Etienne
      p Conseil et vulgarisation autour de L&#39;intelligence artificielle
  tr
    td Janvier 2014 - Octobre 2013
    td
      h4 Projet de fin d&#39;étude: Reconnaissance automatique sur visage du genre
      p Etude bibliographique, extraction de caractéristiques, apprentissage automatique
      aside C++, OpenCV, Weka
  tr
    td Août 2013 - Mars 2013
    td
      h4 Stage au laboratoire Hubert Curien (Saint-Etienne)
      p Prototypage d&#39;algorithmes en Imagerie, implémentation contrainte temps réel
      aside Matlab, C++ (Qt, SDL)
  tr
    td Février 2010
    td
      h4 Stage ouvrier à le Brun S.A.S (Pont-L&#39;abbé)
      p Aide à l&#39;installation électrique
      
      
