table.table
  tr
    td 2014 - 2010
    td
      h4 Diplôme d&#39;ingénieur (Télécom Saint-Etienne)
      p Spécialité Informatique et Imagerie
  tr
    td 2012
    td
      h4 Semestre à University of East Finland (Joensuu)
      p Mobilité à l&#39;international
  tr
    td 2010 - 2007
    td
      h4 Classes préparatoires au lycée Brizeux (Quimper)
      p Spécialité Physique/Chimie
  tr
    td 2007
    td
      h4 Baccalauréat Scientifique
      

