table
  tr
    td 2014 - 2010
    td.
      Diplôme d&#39;ingénieur (Télécom Saint-Etienne) <br/>
      Spécialité Informatique et Imagerie

  tr
    td 2012
    td.
      Semestre à University of East Finland (Joensuu) <br/>
      Mobilité à l&#39;international

  tr
    td 2010 - 2007
    td.
      Classes préparatoires au lycée Brizeux (Quimper) <br/>
      Spécialité Physique/Chimie

  tr
    td 2007
    td.
      Baccalauréat Scientifique

