.row
  .col-md-6
    .skills.miscSkills
      i.backgroundIcon.fa.fa-wordpress
      p.
        A fait divers travaux sur Wordpress dans un cadre personnel
        (Modification de thème et création de thème-enfant, mise en place de sites sous Wordpress, aide à la création de maquette)
      
  .col-md-6
    .skills.miscSkills
      i.backgroundIcon.fa.fa-bullhorn
      p A fait des affiches pour une association loi 1901
    
  .col-md-6
    .skills.miscSkills
      i.backgroundIcon.fa.fa-book
      p Lecture: Informatique, Science cognitives, sciences sociales, art, design
    
  .col-md-6
    .skills.miscSkills
      i.backgroundIcon.fa.fa-heartbeat
      p Sport: Cardio, Musculation
