.row
  .col-md-6
    .skills.miscSkills
      i.backgroundIcon.fa.fa-wordpress
      h4
        i.fa.fa-wordpress
        | &nbsp;
        | Wordpress
      ul
        li Mise en place de sites
        li Aide à la prise en main
        li Aide à la création de maquettes
        li Maintenance
        li Création de thème-enfant
      
  .col-md-6
    .skills.miscSkills
      i.backgroundIcon.fa.fa-edit
      h4
        i.fa.fa-edit
        | &nbsp;
        | Design
      p
        | Bonne maitrise de Photoshop
        br
        | A réalisé des
        | &nbsp;
        a(href="./ressources/img/affiche_Syrie.jpg" title="lien vers l'affiche'") affiches
        | &nbsp;
        | pour l&#39;association d&#39;un ami
        br
        | (mise en page, choix des visuels, textes)
    
  .col-md-6
    .skills.miscSkills
      i.backgroundIcon.fa.fa-book
      h4
        i.fa.fa-book
        | &nbsp;
        | Lectures
      ul
        li Informatique
        li Science cognitive
        li Science sociale
        li Art
        li Design
    
  .col-md-6
    .skills.miscSkills
      i.backgroundIcon.fa.fa-heartbeat
      h4
        i.fa.fa-heartbeat
        | &nbsp;
        | Sport
      ul
        li Cardio
        li Musculation
