.row
  .col-sm-6
    p.
      A fait divers travaux sur Wordpress dans un cadre personnel
      (Modification de thème et création de thème-enfant, mise en place de sites sous Wordpress, aide à la création de maquette)  
  .col-sm-6
    p A fait des affiches pour une association loi 1901  
.row
  .col-sm-6
    p Lecture: Informatique, Science cognitives, sciences sociales, art, design    
  .col-sm-6
    p Sport: Cardio, Musculation
