.row
  .col-md-6
    .skills.miscSkills
      i.backgroundIcon.fa.fa-wordpress
      h4
        i.fa.fa-wordpress
        | &nbsp;
        | Wordpress
      p.
        A fait divers travaux sur Wordpress dans un cadre personnel
        (Modification de thème et création de thème-enfant, mise en place de sites sous Wordpress, aide à la création de maquette)
      
  .col-md-6
    .skills.miscSkills
      i.backgroundIcon.fa.fa-edit
      h4
        i.fa.fa-edit
        | &nbsp;
        | Design
      p A fait des affiches pour une association loi 1901
    
  .col-md-6
    .skills.miscSkills
      i.backgroundIcon.fa.fa-book
      h4
        i.fa.fa-book
        | &nbsp;
        | Lectures
      p Informatique, Science cognitives, sciences sociales, art, design
    
  .col-md-6
    .skills.miscSkills
      i.backgroundIcon.fa.fa-heartbeat
      h4
        i.fa.fa-heartbeat
        | &nbsp;
        | Sport
      p Cardio, Musculation
